<%= render 'layouts/page_title', title: "Displaying All Duties" %>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'duty', obj: @duties %>
<div align="center">
  <%= will_paginate %>
</div>